@{
    Layout = null;   
}
<script>
    function EnableAddItemButton() {
        document.getElementById("btnAddItem").disabled = false;
    }
</script>

<div id="webappDiv">
    <div class="topLeft">&nbsp;</div>@*space gives div height*@
    <div class="topCenter">
        @*<select class="dropDown" id="selectFilter">
            <option value="showAll" selected>show all</option>
            <option value="showDone">show completed</option>
            <option value="showTodo">show to do</option>
        </select>*@
        <a ng-click="OrderItemsByStatus()">Show to do items first</a>
    </div>

    <div class="midLeft">
        <button id="btnShowList" type="button" class="btn btn-sm btnAppLeft" ng-click="GetList()" onclick="EnableAddItemButton()">Show list</button>
        <button type="button" class="btn btn-sm btnAppLeft" disabled>Create new List</button>
        <button id="btnAddItem" type="button" class="btn btn-sm btnAppLeft" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add new item
        </button>
    </div>
    <div class="midCenter">
        <ul class="ulList">
            <li class="listItems" ng-repeat="item in list" id="{{ item.Id }}">
                <span ><span style="color: #A4A4A4">{{ item.Created + ":"}}</span> {{ item.Description }}</span>
                <button type="button" class="btn btn-xs btnsRight" style="margin:5px" ng-click="SetModalEdit()">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-xs btnsRight" style="margin:5px" ng-click="DeleteItem(); GetList()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-xs btnsRight" style="margin:5px" ng-click="EditItemStatus()">
                    <span set-imgstate class="radioBtnImg glyphicon" aria-hidden="true"></span>
                </button>
            </li>
        </ul>
    </div>
    <img id="loaderImg" class="loader isHidden" src="~/Content/images/ajax-loader.gif" />
</div>

<!-- Modal(s) -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <label class="modalItemInput" for="textFieldItemDescription">Beschrijving: </label>
                <input class="modalItemInput" id="textFieldItemDescription" type="text" ng-model="itemDescription" />
                <p class="modalItemInput" style="color:blue; width:auto;">Max 25 karakters</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="AddNewItem(itemDescription);" data-dismiss="modal">Add to List</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <label class="modalItemInput" for="textFieldItemDescription">Beschrijving: </label>
                <input id="updateItemInput" class="modalItemInput" type="text" ng-model="itemDescription" value="" />
                <p class="modalItemInput" style="color:blue; width:auto;">Max 25 karakters</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnUpdate" data-id="" type="button" class="btn btn-primary" ng-click="UpdateDescription(itemDescription);" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>