<div class="mainContainer" data-ng-controller="TodoWebappController">
    <div class="topLeft">
        topLeft
    </div>
    <div class="topCenter">
        topCenter
    </div>

    <div class="midLeft">
        
    </div>
    <div class="midCenter">
        
    </div>
</div>
